
#
# ProxySQL config file
#
# Generated using proxysql_interactive_config.pl
#
[global]
datadir=/var/run/proxysql
core_dump_file_size=0
debug=1
stack_size=524288
net_buffer_size=8192
backlog=2000
error_log=proxysql.log
debug_log=debug.log
pid_file=proxysql.pid
restart_on_error=1
restart_delay=5


[admin]
proxy_admin_pathdb=proxysql.db
proxy_admin_port=6032
proxy_admin_user=admin
proxy_admin_password=admin
proxy_admin_refresh_status_interval=600
sync_to_disk_on_flush_command=1
sync_to_disk_on_shutdown=1


[mysql]
mysql_threads=2
proxy_mysql_port=6033
mysql_socket=/tmp/proxysql.sock
mysql_query_cache_partitions=16
mysql_query_cache_default_timeout=1
mysql_query_cache_size=67108864
mysql_query_cache_precheck=1
mysql_hostgroups=2
mysql_poll_timeout=10000
mysql_maintenance_timeout=1000
mysql_poll_timeout_maintenance=100
mysql_max_query_size=1048576
mysql_max_resultset_size=1048576
mysql_connection_pool_enabled=1
mysql_wait_timeout=28800
mysql_servers=127.0.0.1:3306;127.0.0.1:3307
mysql_usage_user=proxy
mysql_usage_password=proxy
[mysql users]
root=gfhjkm henf pltcm


[fundadb]
fundadb_hash_purge_threshold_pct_min=50
fundadb_hash_purge_threshold_pct_max=90

[debug]
debug_generic=1
debug_net=1
debug_pkt_array=1
debug_memory=1
debug_mysql_com=1
debug_mysql_connection=1
debug_mysql_server=1
debug_admin=1
debug_mysql_auth=1
